# questa仿真文件
*.wlf
*.mti
transcript
work/
wlft*

# python测试中间文件
sim/pytest/__pycache__
sim/pytest/out.vvp
sim/generated/inst_data.txt

# python测试结果
sim/output/fail.txt
sim/output/pass.txt

# 测试文件
tools/

# 测试工具链
tests/

# vivado工程
prj

# 约束文件
constr

# visio暂存文件
~$$nano_riscv.~vsdx

# 指令文档
doc/img/instruction.jpg